#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-jace-dave-2.jpg") top center;
    background-size: cover;
}

@media (max-width: 768px) {
    #hero {
        background: url("../img/hero-jace-dave-mobile-2.jpg") top center;
    }
}