#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-obi-dave.jpg") top center;
    background-size: cover;
}

@media (max-width: 768px) {
    #hero {
        background: url("../img/hero-obi-dave-mobile.jpg") top center;
        background-size: cover;
    }
}